################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataStreaming/v15
/DataSimulator/x64/Debug
/Producer/x64/Debug
